@font-face{
    font-family: "evilgreen";
    src: url(fonts/evilgreenplant1.ttf);
}

@font-face{
    font-family: "imperator";
    src: url(fonts/Imperator.ttf);
}

header{
    display: none;
}

body{
    background-color: #c1d4b0;
    margin: 0px;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: #6e3f31;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(255, 210, 250);
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #ffb9f9;
    color: rgb(255, 77, 249);
}
.navbar li{
    float: left;
    margin-left: auto;   
}
.info{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}
.info h2{
    font-family: "evilgreen";
}

.info p{
    font-family: "imperator";
    line-height: 1.2;
}

.info ol{
    font-family: "imperator";
    line-height: 1.2;
}