@font-face{
    font-family: "evilgreen";
    src: url(fonts/evilgreenplant1.ttf);
}

@font-face{
    font-family: "imperator";
    src: url(fonts/Imperator.ttf);
}

header{
    display: none;
}

body{
    background-image: url(imgs/Grown_Albedo_Scene.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: #6e3f31;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(255, 210, 250);
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    color: rgb(146, 90, 174);
    background-color: rgb(224, 176, 255);
}
.navbar li{
    float: left;
    margin-left: auto;   
}
.info{
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 10px;
    border-radius: 3%;
    font-size: 20px;
    background-color:    rgb(193, 212, 175, 0.7);
}
.info h2{
    font-family: "evilgreen";
}

.info p{
    font-family: "imperator";
    line-height: 1.2;
}

.info ol{
    font-family: "imperator";
    line-height: 1.2;
}
